
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a  href=“/Movies/Index”>
    View
    Movies
</a>
<table  class=“table  table-­‐bordered  table-­‐hover”>
    <tr>
        <th></th>
        <td></td>
    </tr>
    </table>